img[alt="Feature Visualization"] {
    width: 50%;
}

img[alt="Feature Attribution"] {
    width: 50%;
}

img[alt="Airplane"] {
    width: 35%;
}

img[alt="Gen-Airplane"] {
    width: 35%;
}

img[alt="Car"] {
    width: 35%;
}

img[alt="Gen-Car"] {
    width: 35%;
}

img[alt="Lamp"] {
    width: 35%;
}

img[alt="Gen-Lamp"] {
    width: 35%;
}

img[alt="Bowl"] {
    width: 35%;
}

img[alt="Gen-Bowl"] {
    width: 35%;
}

img[alt="Opt-Lamp"] {
    width: 32%;
}

img[alt="Opt-Vase"] {
    width: 32%;
}

img[alt="Opt-Stool"] {
    width: 32%;
}

img[alt="Opt-Airplane"] {
    width: 50%;
}

img[alt="Open In Colab"] {
    width: 15%;
}

img[alt="Open GitHub repo"] {
    width: 9%;
}